@import url("./mainstyle.css");

#main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
}

#main_content>*{
    padding-bottom: 10px;
}

.manage_product>*{
    margin-bottom: 5px;
}

.manage_product>*:nth-child(3){
    margin-top: 0px;
}


#panier{ /*div contenant tous les produit*/
    min-width: max-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(47, 47, 47);
    padding: 10px;
}

/*Produits du panier*/

.product_pan{ 
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    background-color: var(--BG_3);  
    min-width: max-content;
    width: 80%;
    border-radius: 5px; 
    padding: 20px;
}

#logoPV{ /*logo Panier Vide*/
    filter: brightness(30%);
    width: 90px;
    height: auto;
}

.product_pan>*:nth-child(1){
    flex-basis: 20%;
}
.product_pan>*:nth-child(2){
    flex-basis: 60%;
}
.product_pan>*:nth-child(3){
    flex-basis: 20%;
}

.pp_child:nth-child(2), .pp_child:nth-child(3) {
    padding-left: 20px;
}

.pp_img{
    width: auto;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: 0.3s;
}

.pp_img:hover{
    transform: scale(1.13);
    filter: drop-shadow(10px 10px 5px var(--BG_1));
    transition: 0.5s;
}

.product_info{
    margin-bottom: 70px;
}

.product_info h2{
    align-self: center;
    margin-bottom: 30px;
}


/* style des boutons à droite de chaque produits */
.manage_product{
    display: flex;
    flex-direction: column;
}

.manage_quantity{
    display: flex;
    flex-direction: row;
    justify-items: center;
    border-collapse: collapse;
    max-width: 266px;
    max-height: 32px;  
}

.manage_quantity>*{
    text-align: center;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 47);
    border: solid 2px rgb(47, 47, 47);
}

.manage_quantity input:hover{
    background-color: var(--BG_1);
    color: var(--BG_2);
}

.manage_quantity>*:nth-child(1){
    flex-basis: 45%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.manage_quantity>*:nth-child(2){
    flex-basis: 10%; 
    height: 28px;
    margin: inherit;   
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manage_quantity>*:nth-child(3){
    flex-basis: 45%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*div avec le total et but commander*/ 
#pan_footer{
    background-color: var(--BG_3);
    border-radius: 5px;   
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    font-size: large;
}



/*pop up passage de commande qui apparait si non connected*/
#pop_cmdconnect {
    position: fixed;
    top: 40%;
    left: 35%;
    padding: 10px;
    flex-direction:row;
    align-items: center;
    text-align: center;
    z-index: 9;
    width: 500px;
    height: auto;
    border: solid 2px;
    border-radius: 5px;
    background-color: var(--BG_3);
    filter: inherit;
}

#pop_cccontent{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pop_cmdconnect .but_close{
    align-self: flex-start;
}

.disabled {
    pointer-events: none;
    cursor: default;
}